---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";

const posts = await getCollection("posts");
console.log(posts);
---

<Layout title="Blog - Docker & Kubernetes">
  <Main>
    <h1 class="text-6xl text-sky-900 font-bold mb-16 max-sm:text-2xl">
      All blog posts
    </h1>
    {
      posts.map(post => (
        <a href={`/blog/${post.slug}`}>
          <h2>{post.data.title}</h2>
        </a>
      ))
    }
  </Main>
</Layout>
