---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
---

<Layout title="Docker & Kubernetes - Complete Guide">
  <Main>
    <h1 class="text-6xl text-sky-900 font-bold mb-16 max-sm:text-2xl">
      Docker & Kubernetes
    </h1>
  </Main>
</Layout>
