---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

import type { ImageMetadata } from "astro";
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Main>
    <h1 class="text-6xl text-sky-900 font-bold mb-16 max-sm:text-2xl">
      {post.data.title}
    </h1>
    <Image
      src={post.data.image as ImageMetadata}
      alt={post.data.title}
      class="rounded-2xl shadow-xl mb-4 object-cover"
      width={1024}
      height={1024 / 1.5}
    />
    <article class="prose prose-2xl overflow-visible relative mb-20">
      <Content />
    </article>
  </Main>
</Layout>
